<p>Clima</p>

<form [formGroup]="locationsForm" (ngSubmit)="ObterRegioes()">

    <label for="city">Cidade</label>
    <input type="text" id="city" formControlName="city" required>

    <button type="submit" class="botao verde" [disabled]="!locationsForm".valid>Buscar Localidades</button>

</form>

 <div *ngIf="locations" class="locations">
    <div (click)="obterClima(location)" *ngForm="let location of locations; let i=index">
        {{location.name}} - {{location.state}}
    </div>
 </div>

 
 <div *ngIf="weatherData">

    <p>Clima; {{weatherData.weather[0].description}}</p>
    <p><img src="{{'http://openweathermap.org/img/w/' + weatherData.weather[0].icon + '.png'}}"></p>

 </div>
