<h1>Esse e o comeco do template principal</h1>

<nav>
      <a routerLink="hello-world" routerLinkActive="active">Hello world</a>
      <a routerLink="data-binding" routerLinkActive="active">Data biding</a>
      <a routerLink="directives" routerLinkActive="active">Directives</a>
      <a routerLink="customers" routerLinkActive="active">Lista de clientes</a>
      <a routerLink="reactive-form" routerLinkActive="active">Reactive form </a>
      <a routerLink="template-form" routerLinkActive="active">Template Form</a>
      <a routerLink="weather" routerLinkActive="active">Weather</a>
      <a routerLink="pipes" routerLinkActive="active">Pipes</a>

</nav>

<router-outlet />

<p>Aqui e o final do template principal</p>

<p>Posso acessar Data Binding? <input type="checkbox" [checked]="podeAcessar" (change)="alterarAcesso($event)"></p>

